
<h2>Здесь ты можешь увидеть все свои карточки</h2>

<% @cards_items.each do |card| %>
    <tr>
      <td><%= card.original_text %></td>
      <td><%= card.translated_text %></td>
      <td><%= card.review_date %></td>
    </tr>
    <br>
<% end %>